[2015-05-16 17:16] dstollie opened #2 "Bootstrap support"
As discussed on https://trello.com/c/q2cx1oYh. We would want bootstrap support for SpaceTalk.

[2015-05-16 17:25] dstollie opened #3 "Integration of flow:router"
Because iron:router is starting to lose the hearts of the meteor developers because it's not being maintained frequently enough we're thinking of using flow:router as our routing option

[2015-05-16 22:14] dcsan commented on #2
would be nice to not make this a core dep tho. for mobile at least, bootstrap is a pretty clanky front end and a lot of fat.

sidenote: discussions on trello or here? this seems easier to track.

[2015-05-16 22:40] dstollie commented on #2
This is wat i've written somewhere on the trello board:

I think we should pick a css framework.. you really dont want to create your own grid structure if you dont have to. Besides spacetalk is in its startup and the only ui we have is Slack. Later on we probably want to customize our theme and seriously we dont want to redesign all those components. I would say first stick to bootstrap modify th

[2015-05-17 17:25] dcsan commented on #2
not sure we need a full on CSS framework here - there are no forms or other web app stuff? we could keep it light and that means people are free to use/customize with different UI Kits.

Slack is different cos of all the nice touches. to that end, the best chat like CSS UI i've seen is this:
https://rawgit.com/IjzerenHein/famous-flex-chat/master/dist/index.html
that requires famous, so its probabl

[2015-05-17 18:35] rclai commented on #2
We should not make it look like Slack, otherwise we're going to have the same issue that Libreboard had.

[2015-05-17 19:00] camilosw commented on #2
I'm not working on this project, just keeping an eye on it, but what about this https://almsaeedstudio.com/themes/AdminLTE/index2.html? It use Bootstrap and looks a few like Slack.

[2015-05-17 19:07] rclai commented on #2
The look is cool, but it probably comes with way too much stuff than we need right?

[2015-05-17 19:59] dcsan commented on #2
i haven't been following .. like what?
That seems like a nice project, but not sure why I would use it unless i was paranoid about data.
Good as a hobby coding exercise but not useful as a project until it looks less like an identical clone?

which one? famous could complicate things I guess. Someone who's great with CSS can probly get 80% of the effect just by inserting divs and plain CSS.

[2015-05-17 19:59] dcsan commented on #2
this maybe straying more into discussion for trello/forums? I personally would like to be involved in a next-gen slack but thats different project from "lets clone slack". What are the areas where this project is going to simply and clearly differentiate? Enough that would make people want to clone and use this app internally, rather than just opening a slack room.
- an easy to use "bot builder" U

[2015-05-17 20:05] rclai commented on #2
Libreboard started out as MeTrello and was an identical clone of Trello. Trello issued a takedown request. They were forced to take down their code. Since then, they self-hosted their Git repo and re-designed their entire thing.

[2015-05-17 20:17] dstollie commented on #3
fixed

[2015-05-17 20:17] #3 closed

[2015-05-17 20:18] dstollie opened #10 "Team support"
see trello: https://trello.com/c/X5kwmhwC for the discusson about it

[2015-05-17 20:20] rclai opened #11 "User Accounts Integration"
Here's the [first revision](https://github.com/SpaceTalk/SpaceTalk/tree/feature/useraccounts).

[2015-05-18 16:42] newswim commented on #2
I think hand-rolling wouldn't take too long if we divided up the work and developed a style guide first (and picked a preprocessor). I would vote against Bootstrap, it adds a lot of padding to everything and is just a big 8000 line css file. The media queries are easy to rip out without depending on an entire library.

[2015-05-18 16:56] hellstad opened #13 "Users online status"
Working on users' online status && listing them in the sidebar

[2015-05-18 17:37] kevincharm commented on #13
Just realised I should've waited til we converted to BlazeComponents D:! gonna re-code this fresh tomorrow

[2015-05-18 18:07] rclai commented on #13
The `develop` branch was already using Blaze Components.

[2015-05-18 18:19] kevincharm commented on #13
Yeah I know, I cloned it before you started

[2015-05-18 18:22] rclai commented on #13
Oh ok.

[2015-05-18 19:45] dstollie opened #14 "Adding EditorConfig"
we need some sort of generic way of forcing people to code in the right style.. I say implementing editorconfig. What do you guys say?

[code]

[2015-05-18 20:16] rclai commented on #14
The big ones that most people miss are:

[code]

Sometimes MDG themselves miss some of these.

[2015-05-19 00:49] rclai commented on #11
@timbrandin @dstollie when can this be reviewed/merged to `develop`?

[2015-05-19 00:51] rclai commented on #14
Is there a Sublime Text equivalent of this config file?

[2015-05-19 00:59] dcsan commented on #14
that doesn't look like coffeescript to me! (ducks)

[2015-05-19 05:37] dstollie commented on #14
Its just The editorconfig format sublime text offer AB plugin to support editorconfig please chexkout their site

[2015-05-19 05:38] #14 closed

[2015-05-19 09:34] #11 closed

[2015-05-19 09:35] timbrandin commented on #11
:+1:

[2015-05-19 13:35] ramsaylanier commented on #2
I'm totally with dcasn - I think any prevalent CSS framework is going to be over kill for this.  CSS frameworks are for developing apps when you don't have skilled front-end devs. We have access to those. Rolling a decent grid system is pretty easy - especially if we use flexbox (we should also have a conversation about targeted browser support).

I understand using bootstrap to iterate quickly, b

[2015-05-19 14:27] emlama commented on #2
I'm jumping on the we don't need bootstrap bandwagon. Besides having talented front-end devs to work on this project bootstrap is really overkill for a chat application and we won't use most of what it provides.

That being said, I think there's a lot we can learn from bootstrap. It would be great if there was a single settings.scss file that an end user could alter to customize their install of s

[2015-05-19 14:52] ramsaylanier commented on #2
I definitely think user customization or theming should be a thing, but should probably be lower on the roadmap for now. However, when building the css structure we should keep in mind that the end goal will be user customization.

[2015-05-19 16:37] dcsan commented on #2
agreed on one file but -

can we use stylus? I've found all the sass implementations for meteor really suck whereas stylus is supported by MDG.
I also personally much prefer stylus syntax, tho that maybe is an opinion

the main reason for sass is if you're using a legacy framework (like ionic/bootstrap) that requires it, otherwise it's time to move on!

[2015-05-19 23:04] dstollie commented on #10
merged

[2015-05-19 23:04] #10 closed

[2015-05-20 01:55] ramsaylanier commented on #2
Personally I think SASS is the way to go, mainly because it is probably
more maintainble and there are generally more resources out there for it.
On May 19, 2015 12:37 PM, "dc" notifications@github.com wrote:

[2015-05-20 02:01] rclai commented on #2
Sass has already been chosen.

[2015-05-20 02:03] rclai commented on #2
In addition, it looks like the consensus is that we are going to design the UI from scratch.

[2015-05-20 02:04] rclai commented on #2
And probably have some base normalized super basic backbone of some sort to start with I guess. Cc @timbrandin @dstollie

[2015-05-20 03:39] dcsan commented on #2
or just noone thought about it and we ended up with that as a default?
The sass plugin caused endless hassle on the meteoric project.

[2015-05-20 04:00] ramsaylanier commented on #2
Are you referring to the fourseven:scss package? I see that is included in SpaceTalk - personally I don't use it (I use gulp to compile, autoprefix, and minify my scss), but it shouldn't have actually caused that many problems if you were using it properly.

[2015-05-20 04:58] dcsan commented on #2
https://github.com/meteoric/ionic-sass/issues/1
https://github.com/meteoric/ionic-sass/issues/2

also there were problems with it not supporting windows as he is using [LibSass](https://github.com/fourseven/meteor-scss#libsass-vs-ruby-sass)

some of these things maybe fixed now, but i still have an allergy to that package, esp when stylus seems more elegant anyway.

anyhow, i guess its not a huge

[2015-05-20 15:30] adamdawkins opened #19 "Remove channels"
As a user
I want to be able to delete a channel
so that it doesn't exist anymore.

## Spec:

* Any user can delete any channel
* Warning should appear before deleting a channel
* All messages associated with a channel get deleted as well.

[Trello Card](https://trello.com/c/5kSmJfYv)

[2015-05-20 18:17] adamdawkins opened #20 "FontAwesome icons"
Adding `fortawesome:fontawesome` package for icons.

https://trello.com/c/8OdxVton

[2015-05-21 07:42] dstollie commented on #13
merged

[2015-05-21 07:42] #13 closed

[2015-05-21 07:44] dstollie commented on #19
merged this one good job!

[2015-05-21 07:44] #19 closed

[2015-05-21 12:49] rclai opened #25 "currentUser helper already exists in Meteor"
http://docs.meteor.com/#/full/template_currentuser

We're defining it again [here](https://github.com/SpaceTalk/SpaceTalk/blob/develop/client/helpers/helpers.js#L9-L11).

[2015-05-21 13:15] rclai opened #27 "Anyone can delete a channel"
https://github.com/SpaceTalk/SpaceTalk/blob/fe586b12f9226379f1ab7c9b5b44b0a520f50b6d/server/methods/channels/remove.js

Also are we using methods or minimongo + meteor.allow rules @timbrandin @dstollie .

https://trello.com/c/PbRfcm5M/66-use-methods-or-minimongo-for-writes-or-both-depending-on-use-case

In addition should we use matb33:collection-hooks to be deleting messages when channels are del

[2015-05-21 13:32] dstollie commented on #25
my fault, should be removed

[2015-05-21 13:59] rclai commented on #25
No problem.

[2015-05-21 14:01] ramsaylanier commented on #27
It seems that something like deleting a channel should be something we use a meteor method for. I think using collection-hooks is a good idea - probably easier in the long run than manually updating collections when a dependency is altered.

[2015-05-21 14:03] adamdawkins commented on #27
It was agreed that anyone can delete for now; but that should be updated in
the future. Either channels can only be deleted when everyone has left the
channel, or by the creator and/or an admin...

By using collection-hooks, do you mean having messages for a channel
automatically deleted when the channel is?
On Thu, 21 May 2015 at 15:01, Ramsay Lanier notifications@github.com
wrote:

[2015-05-21 14:14] ramsaylanier commented on #27
Yes, collection-hooks give you the ability to perform some function after you create/update/delete items in a collection. So, you can write an after.update hook that takes that channel id and deletes all messages with the channel id.

See here: https://github.com/matb33/meteor-collection-hooks#afterupdateuserid-doc-fieldnames-modifier-options

[2015-05-21 14:14] ramsaylanier commented on #27
https://github.com/matb33/meteor-collection-hooks

[2015-05-21 14:15] adamdawkins commented on #27
Cool, anyone can take this on, or you can assign it to me to improve the
remove function. Probably won't get back on it until next week now though.

On 21 May 2015 at 15:14, Ramsay Lanier notifications@github.com wrote:

##

Adam Dawkins | 07841763735

Adam Dawkins Ltd is a company registered in England and Wales. Registered
Number: 8294660. Registered Address: Adam Dawkins Ltd, Unit 36, 88-90
Hat

[2015-05-21 14:36] ramsaylanier commented on #27
I can take care of it sometime in the next day or two.

[2015-05-21 14:38] ramsaylanier commented on #27
So, to be clear, we are checking that either a) the channel is empty or b) it's deleted by an admin/creator?  So an empty channel can be deleted by anyone?

[2015-05-21 14:39] adamdawkins commented on #27
I think that was going to be left out of 0.1, probably worth a trello card
for that.
On Thu, 21 May 2015 at 15:38, Ramsay Lanier notifications@github.com
wrote:

[2015-05-21 14:45] ramsaylanier commented on #27
okay so right now I'll just make sure to add collection-hooks and then remove messages associated with the channel

[2015-05-21 17:37] dmitrijs-balcers opened #28 "Right after cloning the project into Windows environment, a lot of files are being marked as deleted."
Right after cloning the project into Windows environment, a lot of files are being marked as deleted.

I presume that there might be some conflict in the way, where different environments set up the directory structure?

[code]

Any suggestions how to solve this?

[2015-05-21 17:47] kevincharm commented on #28
It's the colon in `useraccounts:core` directory. Windows doesn't support colons in dirnames.

[2015-05-21 17:50] dstollie commented on #28
@hellstad wow good one @rclai could you fix this maybe?

[2015-05-21 17:58] dmitrijs-balcers opened #29 "Error while running SpaceTalk on windows. No windows compatible build for fourseven:scss@3.0.0."
After starting up the app encountered with the following error

[code]

The version of the package should be changed to the 3.1.1. At the moment, I cannot apply the fix due to an issue described here - https://github.com/SpaceTalk/SpaceTalk/issues/28

[2015-05-21 18:13] rclai commented on #28
Try it now.

[2015-05-21 18:20] #28 closed

[2015-05-22 07:37] dstollie commented on #29
is this already fixed @dmitrijs-balcers ?

[2015-05-23 10:49] nabiltntn opened #32 "Display channel info by clicking info icon in the header"
As a user, i want to display the channel info by clicking info icon in the header

[2015-05-23 11:28] nabiltntn commented on #32
Pull request done #33

[2015-05-23 15:16] nabiltntn opened #34 "tinyscrollbar is not working"
tinyscrollbar used to display per element scrollbar is not working

[2015-05-23 16:13] dstollie opened #35 "nice up the home page"
They current homepage doesnt look that attracting as it should be.. Let's make it somehwat nicer

[2015-05-23 19:17] dmitrijs-balcers commented on #29
@dstollie No not yet. I've tried to run _meteor update_ and it seems like app is running, and I can access it. But I do not know why, but there are no styles applied to the app.

![image](https://cloud.githubusercontent.com/assets/2266310/7785453/4dc3d970-0199-11e5-951a-afe2f54a1032.png)

Corresponding commit: https://github.com/dmitrijs-balcers/SpaceTalk/commit/3acae2138a31f187b1bb0fc9957005f62ff

[2015-05-23 19:20] dmitrijs-balcers commented on #28
This issue is resolved, thank you.

[2015-05-24 03:28] rclai opened #37 "Need to check user authentication on methods"
https://github.com/SpaceTalk/SpaceTalk/blob/develop/server/methods/channels/remove.js#L4
Please wrap your method with this before doing anything, even `check`s:
[code]

[2015-05-24 03:30] rclai opened #38 "Need to check channel existence before deleting"
https://github.com/SpaceTalk/SpaceTalk/blob/develop/server/methods/channels/remove.js#L3-L6

[2015-05-24 04:10] rclai opened #39 "Move publications to the server folder"

[2015-05-24 04:44] #39 closed

[2015-05-24 04:44] #38 closed

[2015-05-24 04:49] #37 closed

[2015-05-24 04:49] rclai commented on #27
Let's put collection hooks on a separate thread. We'll deal with roles later.

[2015-05-24 04:49] #27 closed

[2015-05-24 04:53] #25 closed

[2015-05-24 04:54] rclai commented on #20
[Looks like it's added](https://github.com/SpaceTalk/SpaceTalk/blob/develop/.meteor/packages#L26).

[2015-05-24 04:54] #20 closed

[2015-05-24 04:58] rclai commented on #35
Is this closable?

[2015-05-24 07:19] dmitrijs-balcers commented on #29
Found the solution, will push fix soon.

The problem was in scss.json configuration file. Provided path was not Windows env compatible.

[2015-05-24 09:20] #35 closed

[2015-05-24 11:23] dmitrijs-balcers commented on #29
All issues related to Windows seems to be resoved. This issue can be closed.

[2015-05-24 13:17] #29 closed

[2015-05-24 14:00] rclai opened #41 "Cannot go to any route directly"
[This](https://github.com/SpaceTalk/SpaceTalk/blob/develop/client/views/home/home.js#L1-L3) is causing it to go to the `/teams/public` page all the time.

[2015-05-24 14:30] dstollie commented on #32
@nabiltntn I just merged your stuff in the develop!

[2015-05-24 15:04] dstollie opened #42 "message times not giving the right date"
Looks like there is somethign wrong with displaying the time per message when I look at older messages they all show the same date/time

[2015-05-24 15:31] rclai opened #43 "Channel routes are messed up when going to non-existent team"
On the left sidebar. I'm going to wrap the left sidebar with `{{#if currentTeam}}` so that it doesn't show.

[2015-05-24 17:02] anbuselvan commented on #42
@dstollie I just added a fix. please verify from my pull request. thanks!

[2015-05-24 17:29] #43 closed

[2015-05-24 17:44] #41 closed

[2015-05-24 18:29] #42 closed

[2015-05-24 21:47] rclai opened #47 "Improve .editorconfig and add .jshintrc"
Let's use this:
https://github.com/raix/Meteor-jshintrc/blob/master/.editorconfig

As well as this:
https://github.com/raix/Meteor-jshintrc/blob/master/.jshintrc

[2015-05-24 22:05] rclai opened #48 "Do not allow insertion of empty messages"

[2015-05-24 22:55] rclai opened #50 "Fix Auto-scroll down on new message"

[2015-05-24 23:30] #48 closed

[2015-05-24 23:46] rclai opened #51 "Need more channel name logic checks and processing"
You can insert a channel with the names:

[code]

And in the front-end they'll all show up as:

[code]

When inserting, we need to do:

[code]

[2015-05-24 23:46] #51 closed

[2015-05-25 00:03] lb- opened #52 "Add detail to readme project style specifics"
Adding specific style guide notes to the readme.md that differ (or are not covered) in the meteor style guide, mainly those decided on in the following trello cards;

## Style Guide
* [x] https://trello.com/c/zIU1foBN/36-file-naming-conventions
* [x] https://trello.com/c/jadwd30J/33-routing-structure
* [x] https://trello.com/c/4wMBngXF/48-html-id-and-class-naming-conventions-custom-ones
* [x] http

[2015-05-25 02:56] queso opened #54 "Add direct message channels"
We need direct message channels that can be created by either of the two users involved and always be the same channel.

[2015-05-25 09:39] dstollie opened #56 "An click on the edit text area causes it to stop editing instead of moving the key cursor"
When you edit a text message and you want to move the key cursor the textarea gets removed..

[2015-05-25 11:00] dstollie opened #59 "From the homepage you should be able to pick the team where you want to go to"

[2015-05-25 11:01] #59 closed

[2015-05-25 11:03] dstollie commented on #56
@dmitrijs-balcers thanks for this one! I merged it directly. Could you also take a quick look at the style of the textarea it should be in the same style as the send message textarea

[2015-05-25 11:29] nabiltntn opened #61 "Do not allow insertion of empty channels names"
Pressing enter directly with empty channel name allows insertion

[2015-05-25 11:56] dmitrijs-balcers opened #64 "Add channel topic next to the channel title."
It is required to develop the following functionality (suggestions are welcome):

* Introduce a new property _topic_ of a channel document;
* Create a dropdown button next to the channel title
   * Provide a textbox in a dropdown, which would contain an editable field _topic_
* Represent _topic_ next to the title as shown in the screenshot below

![image](https://cloud.githubusercontent.com/assets

[2015-05-25 12:00] #61 closed

[2015-05-25 12:09] adamdawkins opened #65 "Add pinned messages feature"
https://trello.com/c/f5vprsnB/73-pin-messages

[2015-05-25 12:09] adamdawkins commented on #65
After discussion in Slack, going to store the pinnedMessageIds on the channel.

[2015-05-25 13:01] adamdawkins opened #66 "What format should the 'event' variable take in client events"
I've noticed a few different versions of the event variable already:

We've got:

[code]

The Meteor Style Guide doesn't give a preference here, but it should be consistent.

[2015-05-25 13:07] rclai commented on #66
It should be event.

[2015-05-25 13:44] rclai commented on #66
It's not in their style guide, but it is in their contribution guide.

[2015-05-25 15:30] rclai commented on #66
One thing to take note of is that Blaze Components event handlers don't have the second argument being the template instance.

`this` is the template instance.

[2015-05-25 16:16] #54 closed

[2015-05-25 16:16] #66 closed

[2015-05-25 16:26] dstollie opened #68 "emojione.com - Open source emoji designed for the web"
Instead of the current emoji library we should pick this one I think. I like the visual graphics of the icons more.

http://emojione.com/demo

What do you guys think?

[2015-05-25 16:55] shtefcs commented on #68
hehe, nice , just wanted to post that one to. I like them, design is flat and modern, they support all devices.

[2015-05-25 17:10] rclai commented on #68
Cool, are they resizable though? The demo shows them kind of big. I don't know much about SVGs.

[2015-05-25 19:26] rclai opened #71 "Get @mitar's feedback on Blaze Components usage"
@mitar, it would be great if you share with us your opinions/feedback/answer questions about how we've been using Blaze Components.

Contributors, feel free to ask questions and share concerns about the usage of Blaze Components.

[2015-05-25 19:28] mitar commented on #71
Sure. Feel free to ask any questions. I will try to answer them.

[2015-05-25 19:39] mitar commented on #71
I have not read the code, but one general thing I think is useful is to create a custom base component class you then use all around the project to which you can add base methods you want to use and are maybe missing from barebone core.

Also, use namespaces.

In general, I would recommend that the whole project is using just packages. The project directories become quite unwieldy as project grows

[2015-05-25 21:13] dstollie opened #73 "Rich embeds"
see: https://trello.com/c/PpJKQcCy

decided to go with iframely

[2015-05-25 21:54] dstollie commented on #68
@shtefcs I got it from nullchat from a message of yours! Are you willing to create a pr for this?

[2015-05-25 21:55] shtefcs commented on #68
@dstollie hehe, cool :). I would like to do it, but I am not developer ... -.-

[2015-05-25 21:56] dstollie commented on #34
@rclai havent we decided not to use they thinyscrollbar thingy?

[2015-05-25 23:35] nabiltntn opened #75 "Add a form to set the purpose of the channel. Display the creation date and the username"

[2015-05-25 23:50] ramsaylanier commented on #68
Emojione is awesome and there is a meteor package for it. Emoji are
resizebale and sent based on font size.
On May 25, 2015 5:55 PM, "Stefan Smiljkovic" notifications@github.com
wrote:

[2015-05-26 01:29] rclai commented on #68
Cool.

[2015-05-26 01:34] shtefcs commented on #68
Didnt came to my mind there is meteor package already, tnx for share.
https://github.com/qnub/emojione/

[2015-05-26 01:42] rclai opened #77 "Enforce not being able to merge PRs if not following Meteor style guide"
There I said it.

[2015-05-26 01:45] rclai commented on #34
I guess we shouldn't, though I didn't know we were using it to being with.

[2015-05-26 07:22] #2 closed

[2015-05-26 07:22] #56 closed

[2015-05-26 07:24] dstollie commented on #68
woot gonna implement this!

[2015-05-26 07:24] #52 closed

[2015-05-26 09:14] chriswessels commented on #77
+1. If we are to build a long standing high quality app, standards must be enforced.

[2015-05-26 13:54] timbrandin commented on #77
+1 totally agree

Skickat från min iPhone

[2015-05-26 16:21] adamdawkins commented on #71
Hi @mitar, so here's what we're (I am) trying to do.

We've got a `ChannelInfo` Component for the Info panel. In the `Channel` component, we want to toggle the show/hide of that info bar.

The current develop branch just does this with jquery:

[code]

Then, in a `Message` component, when a message is pinned, we _also_ want to show the channel info bar. What we'd like to do, is have some functions

[2015-05-26 19:01] shtefcs commented on #77
I am up for that as well. :+1:

[2015-05-26 20:38] jonearley commented on #68
@dstollie are you going to work on this? I could if you are not already.

[2015-05-26 21:22] jonearley commented on #68
Look pretty straightforward so I just went an made a pull request. I am going to try and implement short hand auto-complete soon (http://git.emojione.com/demos/autocomplete.html).

[2015-05-26 22:44] #64 closed

[2015-05-27 01:18] ramsaylanier commented on #77
+1

[2015-05-27 01:41] ramsaylanier commented on #68
+1 yeah emoji!

[2015-05-27 02:51] anbuselvan opened #81 "styles are missing on windows"
tried SpaceTalk on windows and the styles are not getting reflected.

[2015-05-27 03:13] anbuselvan commented on #81
Please refer this PR for full story.
https://github.com/SpaceTalk/SpaceTalk/pull/79

[2015-05-27 08:58] rclai commented on #81
@dstollie didn't you address this already?

[2015-05-27 12:01] dstollie commented on #81
nope I didnt, I will check this issue in the upcomming weekend if its still not fixed

[2015-05-27 12:02] #34 closed

[2015-05-27 12:02] #32 closed

[2015-05-27 12:03] dstollie commented on #47
I am getting the use strict error, when I start using this jshnit config file.. could you check that out?

[2015-05-27 12:08] rclai commented on #47
Try it now.

[2015-05-27 12:44] adamdawkins opened #82 "Use a Modular CSS Methodology for all custom CSS (e.g. BEM, SMACSS)"
I think CSS is probably more different between personal developers than any other language; so we could do with some stricter guidelines on custom styling. Especially when it comes to the *maintainability* of the CSS going forwards.

Any rules are better than no rules to some extent, but I'd suggest we use [BEM](https://css-tricks.com/bem-101/):

* It's got clearly defined rules
* All rules are on

[2015-05-27 12:47] rclai commented on #82
What would the above CSS look like in SCSS when using BEM?

[2015-05-27 17:44] adamdawkins commented on #82
Something like this:

[code]

[2015-05-27 18:40] rgoomar commented on #82
I personally really don't like BEM. I hate the `--` and `__` required. I prefer the simple `-` identifiers and `is[ClassName]`. That's just me though.

[2015-05-27 18:42] rgoomar commented on #77
Completely agree +1

[2015-05-27 19:01] dstollie commented on #77
Sure one +1

[2015-05-27 19:01] anbuselvan commented on #77
+1

[2015-05-27 19:03] dstollie commented on #82
I like smaccs more when weer talking about structuring the CSS I even started off implementing aspects of smaccs in spacetalk as you can see

[2015-05-27 20:07] #68 closed

[2015-05-27 20:12] adamdawkins commented on #82
SMACSS is fine, very similar conceptually. Just needs something.

[2015-05-27 21:01] dstollie opened #84 "Adding tests"
Ill start of making some simple test for the most basic functionalitities in SpaceTalk using jasmine

[2015-05-27 23:50] MatejJan commented on #71
Hey (I'm from the Blaze Components team too),

I don't think you need a mixin in this case. Here it seems you're just trying to control wether the channel info is shown.

So the way we're doing these kind of things is like this (let me know if you want more details):
1. Have a reactive var that holds a boolean to show the content:.

[code]
2. Have a method that outputs the class name you'll use in

[2015-05-28 00:28] #50 closed

[2015-05-28 11:48] adamdawkins commented on #82
@rgoomar - I don't think anybody really _likes_ the `--` and `__`, but the `-` is just too ambiguous; and personal styles are too varied on a project with this many collaborators.

For example, if you have a class `.channel-info`. In BEM, I know that's a block in it's own right. Without that, I don't know if it's a block, or if it's an `info` element within a `channel` block; so my only way of kno

[2015-05-28 14:01] rgoomar commented on #82
@adamdawkins That's fair and understandable. I would prefer SMACSS.

[2015-05-28 15:41] dstollie opened #89 "all logged in users are not being showed anymore in the left sidebar"

[2015-05-28 15:45] dstollie commented on #89
Seems  to be fixed in 039eca697cb99021f7c7a728a424c032600a414c

[2015-05-28 15:46] #89 closed

[2015-05-28 15:58] jonearley opened #90 "Add "forgot password?""

[2015-05-28 18:08] timbrandin commented on #90
Yeah I wonder where it has disappeared

[2015-05-28 18:16] rclai commented on #90
Change this to true:
https://github.com/SpaceTalk/SpaceTalk/blob/develop/lib/accounts.js#L16
I'll do it.

[2015-05-28 18:17] rclai commented on #90
Can you check if it works?

[2015-05-28 18:40] timbrandin commented on #90
@rclai sure :)

[2015-05-28 18:51] timbrandin commented on #75
Feature added. :)

[2015-05-28 18:51] #75 closed

[2015-05-28 18:52] timbrandin commented on #90
@rclai somethings not working, can't click the reset password link, nothing is happening :s

[2015-05-28 18:56] timbrandin commented on #90
Here's a solution #93

[2015-05-28 19:03] timbrandin commented on #90
Solved!

[2015-05-28 19:03] #90 closed

[2015-05-28 19:21] rclai commented on #90
Ah okay.

[2015-05-28 19:24] rclai opened #94 "Improve channel info panel toggling"
https://github.com/SpaceTalk/SpaceTalk/blob/develop/client/views/channel-info/channel-info.html#L10

Is there a way to not use checkboxes? I find that sometimes I can't get it to expand unless I click just the right spot. I should be able to click that entire block where the heading is to expand it.

[2015-05-28 19:25] adamdawkins commented on #94
I'm going to handle this as part of #65, I'm going to move them to a click event on the whole section heading.

[2015-05-28 19:49] adamdawkins commented on #82
@rgoomar I once went a bit insane on a _huge_ CSS project with SMACSS, I saw `m-`'s in my sleep. But I don't mind, that works for me.

I'll change the issue title to reflect that we need a CSS methodology (rather than just BEM)

[2015-05-28 22:24] nabiltntn opened #99 "Editing a message with emoji doesn't display emoji list if we want to choose a new one"
and when the emoji is the last element in the message, delete and edit icons are misplaced

[2015-05-28 22:53] timbrandin commented on #99
I noticed this too. I'm looking at it

[2015-05-28 22:54] timbrandin commented on #99
I'm not sure I can add the emoji in edit mode. but the CSS bug is doable before the release

[2015-05-28 23:12] timbrandin commented on #99
Can't figure out why images don't affect the width calculation..

[2015-05-28 23:13] timbrandin commented on #99
I made a small bugfix when there is one smiley only, it will work but we need to find a better solution to it later.

[2015-05-28 23:38] timbrandin commented on #99
Ah I found the issue, we need to use inline-block for the cursor to discover the end of the line if it ends with an image.

[2015-05-28 23:40] timbrandin commented on #99
Solved in latest 3d825c4710f49f948e490beaa2017c673787a66a

[2015-05-28 23:40] #99 closed

[2015-05-28 23:40] rclai opened #102 "Remove channel title dropdown on private messages"

[2015-05-29 03:08] nabiltntn opened #107 "Hide channel info on private messages"

[2015-05-29 14:10] jonearley opened #108 "Links in messages to external sites should open in a new window (tab)"

[2015-05-29 17:34] #107 closed

[2015-05-29 17:49] timbrandin opened #109 "User presence of Private messaging channels is missing."

[2015-05-29 17:50] timbrandin commented on #109
Sorry no they are, my misstake.

[2015-05-29 17:50] #109 closed

[2015-05-29 18:22] mpowaga commented on #82
What you guys think about Trello [approach](https://gist.github.com/bobbygrace/9e961e8982f42eb91b80)? I'm not doing a lot of front-end stuff but I think it solves a lot of tough problems with css.

[2015-05-30 01:33] lb- commented on #84
Related Trello Card: https://trello.com/c/3kbNEzeQ/92-write-tests

[2015-05-30 01:45] lb- opened #112 "Generate Error Messages on the Client"
Trello card: https://trello.com/c/ehJfaysD/65-re-style-sweet-alerts-to-conform-to-space-talk-core-design

To conform to the Meteor style guide (and for future i18n) it is better to generate error messages on the client as per this guide: https://github.com/meteor/meteor/wiki/Meteor-Style-Guide#generate-error-messages-on-the-client-not-on-the-server

[2015-05-30 02:02] lb- commented on #112
Rough example of a potential approach;

[code]

[2015-05-30 02:05] lb- commented on #112
Meteor methods would need to be re-worked to return error symbol eg.
https://github.com/SpaceTalk/SpaceTalk/blob/63470d38184f7f61596f2a78635ebec2f119caf0/server/methods/messages/delete.js

would become

[code]

[2015-05-30 04:23] rclai commented on #112
[The docs](http://docs.meteor.com/#/full/meteor_error) and the style guide are somewhat ambiguous. Is the error code the first parameter of the `Meteor.Error` object, by which they say in the style guide to use as the lookup key in the error code dictionary, or the second parameter? Initially I thought it was the first given that in the style guide they say NOT to return an HTTP status code. From

[2015-05-30 04:25] rclai commented on #112
I think this is something we need to post as an issue to the Meteor's Github repo because it is not very clear from both docs.

[2015-05-30 08:02] lb- commented on #112
@rclai done https://github.com/meteor/meteor/issues/4478

However, in writing the issue, I think that the methods returning `throw new Meteor.Error('channel-not-found')` makes sense but that means there is no need for the reason variable to be provided ever (unless you make it null to provide the third arg - details.

[2015-05-30 08:06] lb- commented on #112
If nothing comes through on Meteor issues, might post a question on the forum.

[2015-05-30 11:56] dalerka commented on #65
I believe this functionality should be implemented as a standalone package:
1. Similar to `{{> loginButtons}}` a **pinnable Thing** in the UI should have a `{{> pinButton}}` in that Thing's _html template_ ;
2. When a _pinButton_ is clicked the package should add the **ID** of the relevant document to some array and keep it in some collection, e.g. **Pinned Things**, like:
`{channel: channel_Id; p

[2015-05-30 13:33] dstollie commented on #108
Hmm I dont understand this one. Are you willing to explain further?

[2015-05-30 14:49] adamdawkins commented on #65
@dalerka That sounds great, for now I've just tried to get pinned _Messages_ working. But it could be improved on. I think my PR (#100) might still be worth including as a starting point, as a lot of what I've done could then be abstracted to the approach you mention here.

[2015-05-30 16:47] dalerka commented on #65
@adamdawkins, sure, great job! I've learned quite a few things from your commits - thank you! Simpler is better :)

[2015-05-30 17:35] jonearley commented on #108
@dstollie Say a message post has a link, then someone clicks on that link it currently opens in the same window. It would be a better user experience if the link opened in a new tab. Anyway, that is how Slack handles message links.

[2015-05-30 17:36] jonearley commented on #77
+1

[2015-05-31 13:44] dstollie commented on #112
@lb- and @rclai are there already some improvements regarding this issue?

[2015-05-31 14:40] rclai commented on #112
You mean if MDG has gotten back to us? No. It's the weekend. They won't get back to us until at least Monday.

[2015-05-31 14:48] #47 closed

[2015-05-31 14:50] dstollie commented on #71
@Retronator thanks for your response @adamdawkins Is this tip already implemented in your case?

[2015-05-31 15:08] adamdawkins commented on #71
@dstollie Yes very similar, we're using ReactiveVars in an 'App' utility:

https://github.com/SpaceTalk/SpaceTalk/blob/feature/pinned-items/client/lib/app.js

[2015-05-31 22:49] lb- commented on #108
I think it would be better to clarify this as:

**Links in _messages_ to external sites should open in a new window (tab)**

Links in messages to internal pages/resources (such as channels or users) should **NOT** open in a new window (tab).

### Support of this approach:

---

In general the best approach is to NOT open anything in a new window, except for the exceptions;

[2015-06-01 08:19] dstollie commented on #108
I agree.. i labelled this one for 0.2.1 the version after the package migration!

[2015-06-01 12:56] jonearley commented on #108
@lb- I agree.

[2015-06-02 21:30] dstollie commented on #108
fixed

[2015-06-02 21:30] #108 closed

[2015-06-02 21:30] dstollie commented on #84
see pr #85

[2015-06-02 21:31] #81 closed

[2015-06-02 21:32] dstollie commented on #82
@mpowaga I like trello's approach but idk to formalize this.. would be harder for new people to get in

[2015-06-02 21:36] dstollie opened #115 "SpaceTalk features in readme"
A list of features SpaceTalk has would give newcomers a better idea of SpaceTalk. Could someone maybe start of with a list of features for in the readme? Whenever new features are being added the readme should be updated.

What do you guys think of this idea?

[2015-06-03 22:14] lc3t35 opened #117 "OSX : Errors prevented startup: While loading plugin `compileScss` from package `fourseven:scss`:"
On OSX 10.8.5,
[code]

[2015-06-05 06:29] SachaG opened #118 "Email addresses are public?"
I don't know if that's intended or not, but should all user emails be publicly accessible on http://spacetalk.meteor.com/ ?

[2015-06-05 06:40] SachaG opened #119 "User can change message timestamp and userId"
Just wanted to point out that it's currently possible to change a message's timestamp and userId via the browser console on http://spacetalk.meteor.com/

[2015-06-05 12:16] nabiltntn commented on #119
@SachaG Even if it's the owner of the message ?

[2015-06-05 12:40] SachaG commented on #119
If you're _not_ the owner, you can't change anything. But even if you _are_ the owner, you should not be able to change those properties, because that lets you fake the timestamp or assign the message to somebody else.

[2015-06-05 13:37] nabiltntn commented on #119
OK, gonna fix it

[2015-06-06 02:13] lb- commented on #112
@dstollie MDG have replied, essentially the practice of using http codes is no longer advised. With `error` being a kind of error code, consistent and not presented to the user, and the `reason` being a human readable version of the code, again not provided to the user. There should be a client side way to present an actual error message to the user. MDG will hopefully update the docs in the futur

[2015-06-06 02:35] lb- commented on #118
Steps to reproduce
1. Sign in to http://spacetalk.meteor.com
2. Open console
3. `Meteor.users.find().fetch()[1].emails[0].address`
4. Result: `"tim.brandin@gmail.com"'

This appears to be intentional:
https://github.com/SpaceTalk/SpaceTalk/blob/develop/server/publications/users.js

[2015-06-06 02:51] lb- commented on #115
Love it! suggested starting point

# Features

## Currently Implemented
- Teams (group users into separate teams)
- Channels (each group contains multiple channels)
  - Remove/edit channels
  - Pinned items
  - Channel purpose (description)
- Users
  - Gravatar for profile pictures
  - Online status
  - Self sign up
- Messages
  - Emoji, Markdown support
  - Edit & trash your own messages
  - Dire

[2015-06-06 04:23] SachaG commented on #118
It's a defensible choice since Slack is meant to be used as an internal tool. But maybe there should be a warning on the demo page, right now I could very easily get about 150 email addresses and email them about a Meteor book I'm selling ;)

[2015-06-06 15:22] rclai commented on #112
We should then create a dictionary table since we need to eventually do i18n.

[2015-06-06 20:52] lb- commented on #112
@rclai would you like me to start on this (new `/feature` branch) and submit a pr when done? not sure I will get time but will give it a shot in the next 24hrs

[2015-06-06 21:24] rclai commented on #112
Go ahead.

[2015-06-06 21:27] dstollie commented on #115
@lb- Nice starting point yeah! Could you submit it as a pr. Im unfortunately really busy with my graduation.

[2015-06-14 13:46] #94 closed

[2015-06-16 08:35] #119 closed

[2015-06-17 08:56] dstollie opened #121 "seperating chat functionality for third party use"
Chat functionality is pretty common in meteor apps thats why it would be great if spacetalk chat functionality can easily be used in other projects.

[2015-06-23 17:34] arpan10 commented on #112
Should I pick this one up?

@lb-, I like the structure of your rough approach. However, since we are doing this partly to make localisation easier, I think instead of calling the object errorMessages, we should call it messages. It will contain all the possible strings that we will be using.

The displayAlert should pass the string-code to messages to fetch the correct set of strings.

This will p

[2015-06-23 23:40] lb- commented on #112
sure go for it. Away for the next two weeks so will not get a chance to do
any more. Thanks

##

|b

+61 414 446 068
@_lb_ http://twitter.com/_lb_ | fb.me/lb.ben | lb.ee

[2015-06-25 07:20] brylie opened #122 "Add SpaceTalk logo to Github organization"
From a branding and outreach perspective, it is important to have a logo for the project in all related pages, social media accounts, etc.

##Task(s)
* [x] Choose a square-shaped logo for SpaceTalk
* [x] Add the branding logo to the SpaceTalk organization page.

[2015-06-25 07:29] brylie opened #123 "Choose a release tag convention"
Project releases are currently following the semantic version scheme. However, our release tags add extra metadata, e.g. `release/SPACETALK@0.1.1`. Consider how to simplify the release tags, for:

* clarity
* simplicity
* consistency

## Task
* [ ] Consider possible release tag conventions
* [ ] Choose a convention
* [ ] Document the chosen convention for other developers to understand
* [ ] Updat

[2015-06-25 07:34] brylie commented on #123
I propose we simply tag releases with the version number (e.g. `0.1.2`), at the most, perhaps adding a 'v' prefix. To this end, I have set up a [draft release for consideration](https://github.com/SpaceTalk/SpaceTalk/releases/tag/untagged-71254e8540fffae2f1c0).

[2015-06-25 07:35] brylie commented on #123
Additionally, pre-releases need some convention (e.g. `v0.1.2-a1`, `v0.1.2-b2`, etc.).

[2015-06-25 07:50] brylie opened #124 "Create SpaceTalk mission statement"
As an open-source project, [we need a mission statement](http://producingoss.com/en/getting-started.html#mission-statement).

* [ ] Create a [document](https://github.com/SpaceTalk/SpaceTalk/wiki/Mission-statement) to brainstorm mission statements
* [ ] Capture multiple ideas for mission statement content in [brainstorming document](https://github.com/SpaceTalk/SpaceTalk/wiki/Mission-statement)
*

[2015-06-27 11:00] arpan10 commented on #112
I've done the first pass of this.

Pull Request: https://github.com/SpaceTalk/SpaceTalk/pull/125

[2015-06-29 22:25] lb- commented on #115
@dstollie done :smile:

[2015-06-29 22:25] #115 closed

[2015-08-01 12:29] timbrandin commented on #122
Done

[2015-08-01 12:29] #122 closed

[2015-08-04 18:55] #82 closed

[2015-08-04 18:56] #71 closed

[2015-08-04 18:56] #65 closed

[2015-08-07 03:55] alisalaah opened #128 "Owner or Super Admin Settings"
A top level console page to configure basic services so the app can be fine tuned.  Such as:

1. Disable private messages (all together of conditional, such as to message the admins)
2. Disable creating rooms (except for admins)
3. Disable joining room (single room setup, except for admins)

etc.

[2015-08-07 03:55] alisalaah opened #129 "Setup a Demo"
If there is a demo already I didn't see it.  Link to it from spacetalkapp.com

[2015-08-07 04:01] acamarata commented on #129
spacetalk.meteor.com was obvious... but maybe link it from the front page...

[2015-08-07 11:01] timbrandin commented on #129
Sure, but there are still a security issue on the demo app that we need to resolve before we link the masses to it. :)

[2015-08-08 09:47] dstollie commented on #129
@timbrandin do we have some issues for these security holes?

[2015-08-08 09:47] timbrandin commented on #129
https://github.com/SpaceTalk/SpaceTalk/issues/118

[2015-08-08 09:50] dstollie commented on #128
Most of these should fit perfectly in the package im almost done with. Its the spacechat package and it contains the messaging core of spacetalk. We will talk more about this once im done with the package structure

[2015-08-08 11:43] acamarata commented on #128
I was making a similar Meteor package but stopped because this one can do
it all, and better. But to fit everyone's possible use-case we would need
this.

Such as a company that wants a single room for supporting a product, or
multiple rooms set by admins but no creating new rooms, messaging only the
admins (support staff), etc.

I know one client that wanted to not allow men to message women and

[2015-08-20 10:37] jmellows commented on #117
i am also getting the same, is there a work around?

[2015-08-25 21:30] mitar opened #130 "How does it compare with Rocket.Chat?"

[2015-08-25 22:12] shtefcs commented on #130
I think rocket.chat is far far further with features and development than space.talk. And honestly my favorite was a spacetalk

[2015-08-26 08:43] timbrandin commented on #130
Rocket.chat has chosen to be more of a Slack clone, SpaceTalk is investigating patterns that differentiates it from being another clone just like that. This is my view of the matter.

[2015-08-26 14:19] engelgabriel commented on #130
I just want to emphasise that "Rocket.chat has chosen to be more of a Slack clone" is @timbrandin personal "view of the matter" and not at all shared by the Rocket.Chat team :)

You can enter our https://demo.rocket.chat and talk to the team if you want to know more about our long term plan.

[2015-08-26 14:21] #130 closed

[2015-08-26 14:24] timbrandin commented on #130
I should also advice @engelgabriel to stop bothering me on joining their project, also this is not the place to advertise another application.

[2015-08-26 14:26] engelgabriel commented on #130
Sorry, I though @mitar specifically mentioned Rocket.Chat on the question.

[2015-08-26 16:46] mitar commented on #130
This is a pretty non-constructive comparison and really not helpful. :-(

[2016-01-24 15:15] scheung38 opened #131 "Security issue"
Hi, how to make it more secure as
[code]
returning false indicating you can see chats that your user was not involved in, which is bad

[2016-01-24 16:35] scheung38 opened #132 "Cannot deploy?"
when deployed in meteor server it cannot open?

[2016-01-24 16:48] scheung38 opened #133 "I have avatars, but how to associate each one with associated users?"
How to change 5 avatars, how change the standard avatars in message box with my custom avatars?

[2016-01-24 20:16] dstollie commented on #131
Hey @scheung38 cool that you took some time to set out some issues. You are right about this security concern. Unfortunately this project is not being maintained anymore. If you are willing to do some updates on this repo please let me know or send in some pull requests.

[2019-07-03 03:36] wade1990 commented on #133
Setup gmail to only accept known contacts that of the bĺue avatars. If you got those settings.

[2022-04-25 21:29] #112 closed